{% extends 'base.html' %}

{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<section class="bg-text-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-text">
                    <h3>My Portfolio website</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-post-area">
    <div class="container">
        <div class="row">
            <div class="blog-post-area-style">
                <div class="col-md-12">
                    <div class="single-post-big">
                        <div class="big-image">
                            <img src="{% static 'main_app/img/1_OEgYc5Tps71cqjneY7q0eA.png' %}" alt="">
                        </div>
                        <div class="big-text">
                            <p><font size="3" face="Courier New" class="Dima"><b>Данная работа показывает базовые
                                навыки использования Django Framework для написания небольшого веб-приложения.<br>
                                Навыки:</p>
                            <ul>
                                <li>Использование CVB,</li>
                                <li>Работа с админкой,</li>
                                <li>Работа с моделями, связь один ко многим и многие ко многим,</li>
                                <li>Создание собственных тегов,</li>
                                <li>Пагинация,</li>
                                <li>Вывод по тегам,</li>
                                <li>Кеширование,</li>
                                <li>Работа с формой,</li>
                                <li>Регистрация на сайте.</li>

                            </ul>
                            </b></font></p>
                        </div>
                    </div>
                </div>

                {% include 'include/_output_post.html' %}
            </div>
        </div>
    </div>

    {% include 'include/_pagination.html' %}
</section>
{% endblock %}