    {% if page_obj.has_other_pages %}
    <div class="pegination">
        <!--
        <ul>
            <li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        </ul>
-->

        <div class="nav-links">
            <!--{% for page in page_odj.paginator.page_range %}
                {% if page_odj.number == page %}
            <span class="page-numbers current">{{page}}</span>
                {% else %}
            <a class="page-numbers" href="?page={{page}}">{{page}}</a>
                {% endif %}
            {% endfor %}

-->         {% if page_obj.has_previous %}
            <a class="page-numbers"
               href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
            {% if page_obj.number == page %}
            <span class="page-numbers current">{{page}}</span>
            {% elif page > page_obj.number|add:-2 and page < page_obj.number|add:2 %}
            <a class="page-numbers" href="?page={{page}}">{{page}}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a class="page-numbers"
               href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            {% endif %}

            <!--
                        <a class="page-numbers" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            -->
        </div>
    </div>
    {% endif %}